<form *ngIf="form">
    <mat-form-field>
        <input
                [formControl]="form.controls.Name"
                matInput
                placeholder="Dateiname"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Art</mat-label>
        <mat-select [formControl]="form.controls.FileType">
            <mat-option *ngFor="let type of fileTypes" [value]="type.value">
                {{ type.text }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
