
.song {
  display: grid;
  grid-template-columns: 20px 20px auto 70px 25px;
  @media screen and (max-width: 860px) {
    grid-template-columns: 40px 40px auto 70px 45px;
  }
  grid-template-areas: "up down title keys delete";

  & > * {
    display: flex;
    align-items: center;
  }

  overflow: hidden;
}

mat-form-field {
  width: 40px;
  margin: -24px 0 -20px 0;
}

.btn-up {
  grid-area: up;
}

.btn-down {
  grid-area: down;
}

.title {
  grid-area: title;

  &.published {
    margin: 10px 0;
    font-weight: bold;
  }
}

.keys {
  grid-area: keys;
  justify-content: flex-end;
}

.btn-delete {
  grid-area: delete;
  justify-content: flex-end;
}

.menu {
  display: flex;
}

button {

}
