<div *ngIf="iSong && iSong && show">
  <div *ngIf="show.published || fullscreen" class="title published">
    <div class="key">{{ iSong.key }}</div>
    <div>{{ iSong.title }}</div>
  </div>

  <div *ngIf="!show.published && !fullscreen" class="song">
    <span class="title">{{ iSong.title }}</span>
    <span *ngIf="!edit" class="keys">
      <span *ngIf="iSong.keyOriginal !== iSong.key">{{ iSong.keyOriginal }}&nbsp;→&nbsp;</span><span
      (click)="openKeySelect()">{{ iSong.key }}</span>
      <mat-form-field (click)="option.open()" *ngIf="keys" class="transpose">
        <mat-select #option [formControl]="keyFormControl">
          <mat-option *ngFor="let key of keys" [value]="key">{{ key }}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <app-menu-button (click)="onEdit()" *ngIf="!edit" [icon]="faEdit" class="btn-edit btn-icon"
                     matTooltip="Lied für diese Veranstaltung bearbeiten"></app-menu-button>
    <app-menu-button (click)="onDelete()" *ngIf="!edit" [icon]="faDelete" class="btn-delete btn-icon"
                     matTooltip="Lied aus Veranstaltung entfernen"></app-menu-button>
  </div>

  <mat-form-field *ngIf="edit" appearance="outline">
    <mat-label>Songtext</mat-label>
    <textarea matTooltip="Tonart ändern"
              [cdkTextareaAutosize]="true"
              [formControl]="editSongControl"
              matInput
    ></textarea>
  </mat-form-field>
  <div *ngIf="edit">Es wird nur der Liedtext für dieser Veranstaltung geändert.</div>
  <app-button-row *ngIf="edit">
    <app-button (click)="onSave()" [icon]="faSave">Speichern</app-button>
    <app-button (click)="onDiscard()" [icon]="faEraser">Verwerfen</app-button>
  </app-button-row>

  <app-song-text
    (chordModeChanged)="onChordModeChanged($event)"
    *ngIf="!edit && (showText )"
    [chordMode]="iSong.chordMode"
    [showSwitch]="!show.published"
    [text]="iSong.text"
    [transpose]="{ baseKey: iSong.keyOriginal, targetKey: iSong.key }"
  ></app-song-text>
</div>
