table {
  border-radius: 8px;
  background: #fffe;

  tr.selected {
    background-color: #0002;
  }

  tr:hover {
    cursor: pointer;
    background-color: #0001;

    td {
      color: #ff9900;
    }
  }

  td.mat-cell {
    padding: 0 5px;
  }
}

.table-container {
  overflow: auto;
  position: relative;
}

.button-new {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 24px;
  z-index: 1000;
  color: #aaa;

  &:hover {
    color: #000;
  }
}



