<div
        [class.pinned]="(songsService.state | async) !== State.list"
        class="page-container mat-elevation-z8"
>
    <div class="table-container">
        <button
                class="button-new"
                mat-icon-button
                matTooltip="neuen Titel anlegen"
                matTooltipPosition="left"
                [routerLink]="'/songs/new'"
        >
            <fa-icon [icon]="faNew"></fa-icon>
        </button>
        <table
                [dataSource]="songsService.songs | async"
                class="mat-elevation-z8"
                mat-table
        >
            <ng-container matColumnDef="Number">
                <th *matHeaderCellDef mat-header-cell>#</th>
                <td *matCellDef="let element" mat-cell>
                    <mat-chip-list>
                        <mat-chip>{{ element.Number }}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th *matHeaderCellDef mat-header-cell>Titel</th>
                <td *matCellDef="let element" mat-cell>{{ element.Name }}</td>
            </ng-container>

            <ng-container matColumnDef="Key">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element" mat-cell>
                    <mat-chip-list *ngIf="element.Key">
                        <mat-chip>{{ element.Key }}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="SongType">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element" mat-cell>
                    <mat-chip-list
                            *ngIf="element.SongType && element.SongType !== 'None'"
                    >
                        <mat-chip
                                [style.background-color]="renderSongType(element.SongType).color"
                        >{{ renderSongType(element.SongType).name }}</mat-chip
                        >
                    </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="Tempo">
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element" mat-cell>
                    <mat-chip-list *ngIf="element.Tempo">
                        <mat-chip>{{ element.Tempo }}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="columns | async; sticky: true" mat-header-row></tr>
            <tr
                    *matRowDef="let row; columns: columns | async"
                    [routerLink]="'/songs/' + row.ID"
                    mat-row
                    routerLinkActive="selected"
            ></tr>
        </table>
    </div>
</div>
