rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{user} {
      allow read: if true;
    }
    match /songs/{song} {
      allow read: if true;
      allow write: if true;
    }
    match /songs/{song}/files/{file} {
      allow read: if true;
      allow write: if true;
    }
  	match /lastmodified/{lastmodified} {
      allow read: if true;
      allow write: if true;
    }
  }
}
