rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{user} {
      allow read: if resource.id == request.auth.uid;
      allow write: if resource.id == request.auth.uid;
    }

    match /songs/{song} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /songs/{song}/files/{file} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /shows/{show} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }
    match /shows/{show}/songs/{song} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid != null;
    }

  }
}

