<div *ngIf="(show$|async) as show">
  <app-card
    heading="{{show.showType|showType}}, {{show.date.toDate()|date:'dd.MM.yyyy'}} - {{getStatus(show)}}">
    <i *ngIf="show.public">öffentliche Veranstaltung</i>
    <i *ngIf="!show.public">geschlossene Veranstaltung</i>
    <p *ngIf="!show.published">
      <mat-checkbox [(ngModel)]="showText">Text anzeigen</mat-checkbox>
    </p>
    <div *ngIf="showSongs && songs" class="song-list">
      <app-song *ngFor="let song of showSongs" [showId]="showId"
                [showSong]="song"
                [showSongs]="showSongs"
                [showText]="showText"
                [song]="getSong(song.songId)"
                [show]="show"
                class="song-row"
      ></app-song>
    </div>

    <app-add-song *ngIf="songs && !show.published" [showId]="showId" [showSongs]="showSongs"
                  [songs]="songs"></app-add-song>

    <app-button-row>
      <button (click)="onArchive(true)" *ngIf="!show.archived" mat-button>Archivieren</button>
      <button (click)="onArchive(false)" *ngIf="show.archived" mat-button>Wiederherstellen</button>
      <button (click)="onPublish(true)" *ngIf="!show.published" mat-button>Veröffentlichen</button>
      <button (click)="onPublish(false)" *ngIf="show.published" mat-button>Veröffentlichung zurückziehen</button>

      <button (click)="onDownload()" mat-button>Herunterladen</button>

    </app-button-row>
  </app-card>
</div>
