<div *ngIf="(show$|async) as show">
  <app-card
    heading="{{show.showType|showType}}, {{show.date.toDate()|date:'dd.MM.yyyy'}}">

    <div *ngIf="showSongs" class="song-list">
      <app-song *ngFor="let song of showSongs"
                [showId]="showId"
                [showSongId]="song.id"
                [showSongs]="showSongs"
                [song]="getSong(songs, song.songId)"
      ></app-song>
    </div>

    <div *ngIf="songs" class="add-row">
      <mat-form-field appearance="outline">
        <mat-label>Lied hinzufügen...</mat-label>
        <mat-select (selectionChange)="onAddSongSelectionChanged($event)">
          <mat-option *ngFor="let song of songs" [value]="song.id">{{song.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button>aus Übersicht</button>
    </div>
  </app-card>
</div>
