<div>
<!--  <app-list-header *appRole="['leader']"></app-list-header>-->
  <app-list-header *appRole="['leader']">
    <app-filter *ngIf="shows$ | async as shows" [shows]="publicShows$ | async"></app-filter>
  </app-list-header>

  <ng-container *appRole="['leader']">
    <ng-container *ngIf="privateShows$ | async as shows">
      <app-card
        *ngIf="shows.length > 0"
        [padding]="false"
        heading="Meine Veranstaltungen"
      >
        <app-list-item
          *ngFor="let show of shows | sortBy: 'desc':'date'"
          [routerLink]="show.id"
          [show]="show"
        ></app-list-item>
      </app-card>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="publicShows$ | async as shows">
    <app-card
      *ngIf="shows.length > 0"
      [padding]="false"
      heading="Veröffentlichte Veranstaltungen"
    >
      <app-list-item
        *ngFor="let show of shows | sortBy: 'desc':'date'; trackBy: trackBy"
        [routerLink]="show.id"
        [show]="show"
      ></app-list-item>
    </app-card>
  </ng-container>
</div>
