@primary-color: #4286f4;

@navigation-background: #fffffff1;

@transition: all 300ms ease-in-out;

//html, body {
//  height: 100%;
//}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  overscroll-behavior-y: none;
  color: #333;

  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #373b44, @primary-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #373b44, @primary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background: url("/assets/background.png");
  background-size: cover;
}

p {
  margin: 8px 0;
}

h1, h2, h3, h4 {
  opacity: 0.5;
  padding: 0;
  margin: 0 0 20px 0;
}

a {
  color: inherit;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field .mat-form-field-infix {
  width: unset;
}

.mat-form-field.mat-form-field-appearance-standard .mat-form-field-underline {
  height: 0;
}


.content > *:not(router-outlet) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 50px;
}

.btn-icon {
  opacity: 0.2;
  transition: all 300ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

perfect-scrollbar.scroll > .ps.ps--scrolling-y > .ps__rail-y,
perfect-scrollbar.scroll > .ps .ps__rail-y:hover {
  background-color: #222;
  opacity: .3;
}

.mat-chip.mat-standard-chip {
  background: #fffa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

mat-dialog-container.mat-dialog-container {
  background: #fffb;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.mat-form-field-outline {
  background: #fff4;
  border-radius: 4px;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border-top-color: inherit !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.0em) scale(0.75);
}


body {
  .swiper-button-next, .swiper-button-prev {
    opacity: 0.1;
  }

  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
}
