@primary-color: #4286f4;

@navigation-background: #fffffff1;

@transition: all 300ms ease-in-out;

:root {
  --color-primary: #4286f4;
  --color-primary-light: #639af3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  overscroll-behavior-y: none;
  color: #333;

  background-attachment: fixed;
  background-image: url("/assets/background.jpg");
  background-size: cover;
}

p {
  margin: 8px 0;
}

h1, h2, h3, h4 {
  opacity: 0.5;
  padding: 0;
  margin: 0 0 20px 0;
}

a {
  color: inherit;
}

.mat-mdc-form-field {
  width: 100%;
}




.content > *:not(router-outlet) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  padding-top: 50px;
}

.btn-icon {
  opacity: 0.2;
  transition: all 300ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
  .swiper-button-next, .swiper-button-prev {
    opacity: 0.1;
  }

  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  --mat-form-field-container-text-line-height: 16px;
  --mat-form-field-container-text-size: 16px;
}
