<div class="fullscreen background"></div>
<div *ngIf="song && showType" [style.font-size.px]="zoom" class="fullscreen background">

  <div class="bg-blue fullscreen bg-image" [class.visible]="presentationBackground==='blue'"></div>
  <div class="bg-green fullscreen bg-image" [class.visible]="presentationBackground==='green'"></div>
  <div class="bg-leder fullscreen bg-image" [class.visible]="presentationBackground==='leder'"></div>
  <div class="bg-praise fullscreen bg-image" [class.visible]="presentationBackground==='praise'"></div>
  <div class="bg-bible fullscreen bg-image" [class.visible]="presentationBackground==='bible'"></div>


  <div
    [@songSwitch]="songId"
    [class.blur]="songId === 'title' || songId === 'dynamicText'"
    [class.no-logo]="presentationBackground!=='none'"
    [class.hide]="songId !== 'title' && songId !== 'empty' && songId !== 'dynamicText'"
    class="start fullscreen logo"
  >
    <app-logo></app-logo>
  </div>

  <div *ngIf="songId === 'title'" @songSwitch class="start fullscreen">
    <div>{{ showType | showType }}</div>
    <div class="date">{{ date | date: "dd.MM.yyyy" }}</div>
  </div>

  <div *ngIf="songId === 'dynamicText'" @songSwitch class="start fullscreen">
    <div>{{ presentationDynamicCaption }}</div>
    <div class="date">{{ presentationDynamicText }}</div>
  </div>

  <app-song-text
    [header]="song.title"
    *ngIf="songId !== 'title' && songId !== 'empty'"
    [@songSwitch]="songId"
    [fullscreen]="true"
    [index]="index"
    [showSwitch]="false"
    [text]="song.text"
    chordMode="hide"
  ></app-song-text>
  <app-legal
    *ngIf="songId !== 'title' && songId !== 'empty'"
    [@songSwitch]="songId"
    [config]="config$ | async"
    [song]="song"
  ></app-legal>
</div>
