:host {
  margin-top: 0 !important;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 1;

  padding: 50px;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 300ms all ease-in-out;
}
