@import "../../../../../../styles/styles";

a {
  opacity: 0.8;
  display: block;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  box-sizing: border-box;
  background: transparent;
  transition: @transition;
  border-color: #222;

  fa-icon {
    display: inline-block;
    transform: scale(1);
    transition: @transition;
  }

  @media screen and (max-width: 860px) {
    .link-text {
      display: none;
    }
  }

  &:hover {
    opacity: 0.9;
    border-bottom: 5px solid #555;

    fa-icon {
      transform: scale(1.2);
    }
  }

  &.active {
    border-bottom: 5px solid @primary-color;
    opacity: 1;

    fa-icon {
      transform: scale(1.3);
    }
  }
}
