<form>
    <mat-form-field>
        <input
                [formControl]="form.controls.Name"
                matInput
                placeholder="Titel"
        />
    </mat-form-field>
    <div class="row">
        <mat-radio-group [formControl]="form.controls.SongType">
            <mat-radio-button value="Praise">Lobpreis</mat-radio-button>
            <mat-radio-button value="Worship">Anbetung</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <input
                    [formControl]="form.controls.Number"
                    matInput
                    placeholder="Nummer"
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tonart</mat-label>
            <mat-select [formControl]="form.controls.Key">
                <mat-option *ngFor="let key of keys" [value]="key">
                    {{ key }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input
                    [formControl]="form.controls.Tempo"
                    matInput
                    placeholder="Tempo"
            />
        </mat-form-field>
    </div>
    <mat-form-field>
      <textarea
              [formControl]="form.controls.Text"
              [matTextareaAutosize]="true"
              matInput
              placeholder="Liedtext"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea
                [formControl]="form.controls.Comments"
                [matTextareaAutosize]="true"
                matInput
                placeholder="Kommentare"
        ></textarea>
    </mat-form-field>
</form>
