<form>
    <mat-form-field>
      <input
        matInput
        placeholder="Titel"
        [formControl]="form.controls.Name"
      />
    </mat-form-field>
    <div class="row">
      <mat-radio-group [formControl]="form.controls.SongType">
        <mat-radio-button value="Praise">Lobpreis</mat-radio-button>
        <mat-radio-button value="Worship">Anbetung</mat-radio-button>
      </mat-radio-group>
      <mat-form-field>
        <input
          matInput
          placeholder="Nummer"
          [formControl]="form.controls.Number"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tonart</mat-label>
        <mat-select [formControl]="form.controls.Key">
          <mat-option *ngFor="let key of keys" [value]="key">
            {{ key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Tempo"
          [formControl]="form.controls.Tempo"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Liedtext"
        [formControl]="form.controls.Text"
        [matTextareaAutosize]="true"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea
          matInput
          placeholder="Kommentare"
          [formControl]="form.controls.Comments"
          [matTextareaAutosize]="true"
        ></textarea>
      </mat-form-field>
  </form>