<ng-container *ngIf="song">
  <p *ngIf="song.artist">{{ song.artist }}</p>
  <p *ngIf="song.label">{{ song.label }}</p>
  <p *ngIf="song.termsOfUse" class="terms-of-use">{{ song.termsOfUse }}</p>
  <p *ngIf="song.origin">{{ song.origin }}</p>

  <div *ngIf="song.legalOwnerId">
    <p *ngIf="song.legalOwner === 'CCLI' && config">
      CCLI-Liednummer {{ song.legalOwnerId }}, CCLI-Lizenznummer
      {{ config.ccliLicenseId }}
    </p>
    <p *ngIf="song.legalOwner !== 'CCLI'">Liednummer {{ song.legalOwnerId }}</p>
  </div>
</ng-container>
