@import "../../../../../styles/styles";
@import "../../../../../styles/shadow";

nav {
  &.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: @navigation-background;
    z-index: 1;
    .card-3;
    transition: all 300ms ease-in-out;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &.hidden {
      @media screen and (max-width: 860px) {
        top: -60px;
      }
    }

  }
}

.actions {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 20px;
}


.links {
  display: flex;
}
