<nav [class.hidden]="isNavigationHidden(windowScroll$|async)" class="head">
  <div class="links">
    <app-brand routerLink="/brand"></app-brand>
    <app-link
      *appRole="['user', 'presenter', 'leader']"
      [icon]="faSongs"
      link="/songs"
      text="Lieder"
    ></app-link>
    <app-link
      *appRole="['leader']"
      [icon]="faShows"
      link="/shows"
      text="Veranstaltungen"
    ></app-link>
    <app-link
      *appRole="['presenter']"
      [icon]="faPresentation"
      link="/presentation"
      text="Präsentation"
    ></app-link>
    <app-link [icon]="faUser" link="/user" text="Benutzer"></app-link>
  </div>
  <div *appRole="['user', 'presenter', 'leader']" class="actions">
    <app-filter></app-filter>
  </div>
</nav>
