<div *ngIf="songs$ | async as songs">
  <app-list-header [anyFilterActive]="anyFilterActive">
    <app-filter [songs]="songs" route="songs"></app-filter>
  </app-list-header>

  <app-card [padding]="false">
    <div *ngFor="let song of songs; trackBy: trackBy" [routerLink]="song.id" class="list-item">
      <div class="number">{{ song.number }}</div>
      <div>{{ song.title }}</div>
      <div>
        <ng-container *appRole="['contributor']">
          <div *ngIf="song.status === 'draft'" class="warning"><fa-icon [icon]="faDraft"></fa-icon></div>
          <div *ngIf="song.status === 'set'" class="neutral"><fa-icon [icon]="faDraft"></fa-icon></div>
          <div *ngIf="song.status === 'final'" class="success"><fa-icon [icon]="faFinal"></fa-icon></div>
        </ng-container>
        <div *ngIf="song.legalType === 'open'" class="warning" ><fa-icon [icon]="faLegal"></fa-icon></div>
      </div>
      <div>{{ song.key }}</div>
    </div>

  </app-card>
</div>
