<div class="song-detail-container">
    <mat-card *ngIf="form" class="mat-elevation-z8">
        <mat-card-header>
            <div mat-card-avatar>
                <button (click)="onBack()" color="warn" mat-icon-button>
                    <fa-icon [icon]="faArrow"></fa-icon>
                </button>
            </div>
            <mat-card-title>Titel bearbeiten</mat-card-title>
            <mat-card-subtitle>
                Daten werden nach der Eingabe automatisch gespeichert
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-song-form [form]="form"></app-song-form>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button (click)="onClickDownload()">Herunterladen</button>
          <button mat-button (click)="onClickEdit()">
            <fa-icon [icon]="faEdit"></fa-icon> Bearbeiten
          </button>
        </mat-card-actions> -->
    </mat-card>
</div>
