<div class="song-detail-container files" *ngIf="song">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <table mat-table [dataSource]="song.Files" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            Angehängte Dateien
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="fileEditId !== element.ID">{{ element.Name }}</span>
            <app-song-file-edit
              [fileId]="element.ID"
              (back)="onClickEdit(null)"
              *ngIf="fileEditId === element.ID"
            ></app-song-file-edit>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <input
              type="file"
              ng2FileSelect
              [uploader]="newFileUploader"
              multiple
              style="display:none"
              #newFileUploaderRef
            />
            <button
              mat-icon-button
              (click)="newFileUploaderRef.click()"
              matTooltip="neue Datei hochladen"
              matTooltipPosition="left"
            >
              <fa-icon [icon]="faFileUpload"></fa-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              (click)="onClickEdit(element.ID)"
              matTooltip="Eintrag bearbeiten"
              matTooltipPosition="left"
              *ngIf="fileEditId !== element.ID"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button
              mat-icon-button
              (click)="onClickDownload(element.ID, element.Name)"
              matTooltip="Datei herunterladen"
              matTooltipPosition="left"
              *ngIf="fileEditId !== element.ID"
            >
              <fa-icon [icon]="faDownload"></fa-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Zurück zur Tabelle"
              matTooltipPosition="left"
              (click)="onClickEdit(null)"
              *ngIf="fileEditId === element.ID"
            >
              <fa-icon [icon]="faArrow"></fa-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Anhang löschen"
              matTooltipPosition="left"
              (click)="onClickDelete(element.ID)"
              *ngIf="fileEditId === element.ID"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="columns"
          ng2FileDrop
          [uploader]="newFileUploader"
          (fileOver)="onFileOverNew($event)"
          [class.file-over]="fileOverNew"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
