<app-card closeLink="../" heading="Passwort zurücksetzen">
  <div [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail Addresse</mat-label>
      <input
        (keyup.enter)="onResetPassword()"
        formControlName="user"
        matInput
      />
    </mat-form-field>

    <app-button-row>
      <app-button (click)="onResetPassword()" [icon]="faNewPassword"
      >neues Passwort anfordern
      </app-button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage | authMessage }}</p>
    </app-button-row>
  </div>
</app-card>
