<div *ngIf="song" class="song-detail-container">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <div mat-card-avatar>
                <button (click)="onBack()" color="warn" mat-icon-button>
                    <fa-icon [icon]="faArrow"></fa-icon>
                </button>
            </div>
            <mat-card-title>{{ song.Name }}</mat-card-title>
            <mat-card-subtitle>
                <mat-chip-list>
                    <mat-chip *ngIf="renderSongType(song.SongType)"
                              [style.background]="renderSongType(song.SongType).color">{{ renderSongType(song.SongType).name }}</mat-chip>
                    <mat-chip *ngIf="song.Key">Tonart: {{ song.Key }}</mat-chip>
                    <mat-chip *ngIf="song.Tempo">Tempo: {{ song.Tempo }}</mat-chip>
                </mat-chip-list>
            </mat-card-subtitle
            >
        </mat-card-header>
        <mat-card-content>
            <p *ngFor="let line of text">{{ line }}</p>
            <br/>
            <p *ngFor="let line of comments">{{ line }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onClickEdit()" mat-button>
                <fa-icon [icon]="faEdit"></fa-icon>
                bearbeiten
            </button>
        </mat-card-actions>
    </mat-card>
</div>
