/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

tbody {
  tr:hover {
    cursor: pointer;
    td {
      color: #ff9900;
    }
  }
}
