<!--<app-card>
  <div [formGroup]="form" class="form">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail Addresse</mat-label>
      <input (keyup.enter)="onLogin()" formControlName="user" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passwort</mat-label>
      <input (keyup.enter)="onLogin()" formControlName="pass" matInput type="password">
    </mat-form-field>
    <app-button-row>
      <app-button (click)="onLogin()" [icon]="faSignIn">Anmelden</app-button>
      <app-button [icon]="faNewPassword" routerLink="/user/password">Passwort zurücksetzen</app-button>
      <app-button [icon]="faNewUser" routerLink="/user/new">neuen Benutzer anlegen</app-button>
      <p *ngIf="errorMessage" class="error">{{errorMessage|authMessage}}</p>
    </app-button-row>

  </div>

</app-card>-->

<div class="frame">
  <app-logo></app-logo>
  <div class="login">
    <div [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail Addresse</mat-label>
        <input (keyup.enter)="onLogin()" formControlName="user" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input (keyup.enter)="onLogin()" formControlName="pass" matInput type="password">
      </mat-form-field>
      <p *ngIf="errorMessage" class="error">{{errorMessage|authMessage}}</p>
      <button (click)="onLogin()" class="btn-login" color="primary" mat-stroked-button>Anmelden</button>
      <button class="btn-password" mat-stroked-button routerLink="/user/password">Passwort zurücksetzen</button>
      <button class="btn-user" mat-stroked-button routerLink="/user/new">neuen Benutzer anlegen</button>


    </div>
  </div>
</div>
