<div *ngIf="shows$|async as shows">
  <app-card>

    <p *ngIf="!shows.length">Es ist derzeit keine Veranstaltung vorhanden</p>

    <mat-form-field *ngIf="shows.length>0" appearance="outline">
      <mat-label>Veranstaltung</mat-label>
      <mat-select (selectionChange)="onShowChanged($event)">
        <mat-option *ngFor="let show of shows" [value]="show.id">
          {{show.showType|showType}}, {{show.date.toDate()|date:'dd.MM.yyyy'}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let song of presentationSongs" class="song">
      <div class="title">{{song.title}}</div>
      <div *ngIf="show" class="song-parts">
        <div (click)="onSectionClick(song.id, i)" *ngFor="let section of song.sections; index as i"
             [class.active]="show.presentationSongId===song.id && show.presentationSection===i"
             class="song-part">
          <div class="head">{{section.type|sectionType}} {{section.number + 1}}</div>
          <div class="fragment">{{getFirstLine(section)}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="show" class="div-bottom">
      <button [routerLink]="'/presentation/monitor/' + currentShowId" mat-icon-button>
        <fa-icon [icon]="faDesktop"></fa-icon>
      </button>

      <mat-slider
        (ngModelChange)="onZoom($event)"
        [max]="100"
        [min]="10"
        [ngModel]="show.presentationZoom"
        [step]="2"
        [thumbLabel]="true"
      >
      </mat-slider>
    </div>
  </app-card>


</div>
